<?xml version="1.0"?>
<launch>

    <node pkg="lthmi_nav" type="test_map_divider.py" name="test_map_divider" output="screen" >
    </node>

    <node pkg="lthmi_nav" name="map_divider" type="map_divider"  output="screen">
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz"  output="screen" 
            args="-d $(find lthmi_nav)/test/rviz/test_map_divider.rviz" >
    </node>
    
</launch>
