<?xml version="1.0"?>
<launch>
    <arg name="debug" default="1" />
    
    <arg     if="$(arg debug)" name="prefix" default="xterm -geometry 200x30+10+20 -e gdb -x=$(find lthmi_nav)/debug/gdb_map_divider - -args" />
    <arg unless="$(arg debug)" name="prefix" default="" />
    
    <node pkg="lthmi_nav" type="test_map_divider.py" name="test_map_divider" 
            output="screen" required="true">
        <param name="map" value="$(find lthmi_nav)/map/arena2.map" />
        <param name="resolution" value="0.1" />
    </node>

    <node pkg="lthmi_nav" name="map_divider" type="map_divider"  output="screen"
            launch-prefix="$(arg prefix)">
        <param name="method" value="extremal" /> <!-- vtile htile equidist extremal    -->
        <rosparam>
            probs_optimal: [0.25, 0.25, 0.25, 0.25]
        </rosparam>
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz"  output="screen" 
            args="-d $(find lthmi_nav)/test/rviz/test_map_divider.rviz" >
    </node>
    
</launch>
