<?xml version="1.0"?>
<launch>

    <node pkg="lthmi_nav" type="test_rviz_int_map.py" name="test_rviz_int_map" output="screen" >
    </node>

    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz"  output="screen" 
            args="-d $(find lthmi_nav)/test/rviz/test_rviz_plugin.rviz" >
    </node>
    
</launch>
