<?xml version="1.0"?>
<launch>
    <arg name="debug" default="1" />
    <arg name="map" default="ak500inflated" />
    <arg name="delay" default="0.0" />
    <arg name="px" default="0" />  <!-- both 0 means random -->
    <arg name="py" default="0" />  <!-- both 0 means random -->
    <arg name="pdf_seed" default="-1" /> <!-- negative means random -->
    <arg name="pos" default="cog2lopt" />

    <arg name="gdb" default="0" />
    <arg name="verb" default="info" />
    
    <!-- Check ROSCONSOLE_MIN_SEVERITY value in CMakeList.txt for given node. More on that in http://wiki.ros.org/rosconsole -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lthmi_nav)/debug/rosconsole_conf_verb_$(arg verb).conf"/> 
    <arg     if="$(arg gdb)" name="prefix" default="xterm -geometry 170x30+10+20 -e gdb -x=$(find lthmi_nav)/debug/gdb_best_pose_finder - -args" />
    <arg unless="$(arg gdb)" name="prefix" default="" />
    
    
    <node pkg="lthmi_nav" type="test_best_pose_finder.py" name="test_best_pose_finder" 
            output="screen" required="true">
        <param name="map" value="$(find lthmi_nav)/map/$(arg map).map" />
        <param name="resolution" value="0.1" />
        <param name="n_experiments" value="10" />
        <param name="n_poses" value="10" />
        <param name="delay" value="$(arg delay)" />
        <param name="pose_x" value="$(arg px)" />
        <param name="pose_y" value="$(arg py)" />
        <param name="pdf_seed" value="$(arg pdf_seed)" />
        <rosparam>
            synced_nodes: ['/best_pose_finder']
            waited_srvs:  ['/rviz/reload_shaders']
        </rosparam>
    </node>

    <node pkg="lthmi_nav" name="best_pose_finder" type="best_pose_finder"  output="screen"
            launch-prefix="$(arg prefix)">
        <param name="method" value="$(arg pos)" /> <!-- maxprob tomaxprob    -->
        <param name="max_vel" value="1.5" />
        <param name="period" value="1.0" />
        <param name="safety_coef" value="0.95" />
        <rosparam>
            probs_optimal: [0.25, 0.25, 0.25, 0.25]
        </rosparam>
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz"  output="screen" 
            args="-d $(find lthmi_nav)/test/rviz/test_best_pose_finder.rviz" >
        <remap from="/move_base_simple/goal" to="/pose_current" />
    </node>
    
</launch>
