<?xml version="1.0"?>
<launch>
    <arg name="bag" /> <!-- path to input bag-file-->
    <arg name="out" default="/tmp/1" /> <!-- path to output stats-file-->
    <arg name="debug" default="0" />
    
    <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find lthmi_nav)/debug/debug_rosconsole.conf"/>
    
    

    <node pkg="lthmi_nav" type="bag_processor" name="bag_processor" output="screen" required="true">
        <param name="bag_path" value="$(arg bag)" />
        <param name="stats_path" value="$(arg out)" />
    </node>

</launch>
